<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{searchSensore.sensoreName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="item-detail-image is-{{searchSensore.sensoreName}}"></div>
    <chart-component [items]="items"></chart-component>

    <table class="item-detail-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>{{searchSensore.sensoreName | capitalize}}</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.id}}</td>
        <td>{{item.data}}</td>
        <td>{{item.messDate | dateFormat}}</td><!-- date pipe not working-bug in Angular2-->
      </tr>
      </tbody>
    </table>

  </ion-card>
</ion-content>
